Main {
  h2 {
    font-size: 35px;
  }
  .contenedor-tarjeta {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .tarjeta-equipo {
    background-color: #a6f3f3;
    flex-direction: column;
    border: 1px solid black;
    img {
      width: 100px;
      height: 100px;
    }
  }
  .nameCard {
    font-size: 30px;
    color: #254595;
  }
}
.contenedorTarjeta {
  padding: 10px;
  cursor:pointer;
  .tarjetaProyecto {
    background-color: #ffc0cb;
    color: black;
    width: 400px;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 10px;
    &:hover{
      background:#f8a5b3;
    }
    button:hover{
      background:grey;
      color:black;
      border:1px solid black;
      font-weight: 700;
      
    }
  }
}
